## Set Based Problems

#### 1. Create a set with integers from 1 to 5.

In [9]:
s=set()
s={i for i in range(1,6)}
print(s)

{1, 2, 3, 4, 5}

#### 2. Add an element to a set.

In [10]:
s={1,2,3,4}
s.add(23)
print(s)

{1, 2, 3, 4, 23}

#### 3. Remove an element from a set.

In [16]:
s={12,3,4,5}
s.discard(12)
print(s)

{4, 3, 5}

#### 4. Check if an element exists in a set.

In [20]:
s={12,3,4,5,6,78}
ele=3
if(ele in s):
    print("element exist in the set")
else:
    print("element does not exist in the set")

element exist in the set

#### 5. Find the length of a set without using the `len()` function.

In [37]:
s={12,2,4,5,6,7}
c=0
for i in s:
    c+=1
print("length of the set is",c)

length of the set is 6

#### 6. Clear all elements from a set.

In [38]:
s={12,3,4,5}
s.clear()
print(s)

set()

#### 7. Create a set of even numbers from 1 to 10.

In [39]:
{i for i in range(1,10) if(i%2==0)}

{2, 4, 6, 8}

#### 8. Create a set of odd numbers from 1 to 10.

In [40]:
{i for i in range(1,10) if(i%2!=0)}

{1, 3, 5, 7, 9}

#### 9. Find the union of two sets.

In [42]:
s1={1,2,3,4}
s2={5,6,7,2}
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7}

#### 10. Find the intersection of two sets.

In [45]:
s1={1,2,3,4}
s2={5,6,7,2,4,3}
print(s1.intersection(s2))

{2, 3, 4}

#### 11. Find the difference between two sets.

In [46]:
s1={1,2,3,4}
s2={5,6,7,2,4,3}
print(s1.difference(s2))

{1}

#### 12. Check if a set is a subset of another set.

In [48]:
s1={1,2,3,4}
s2={5,6,7,2,4,3,1}
print(s1.issubset(s2))

True

#### 13. Check if a set is a superset of another set.

In [49]:
s1={1,2,3,4}
s2={5,6,7,2,4,3,1}
print(s1.issuperset(s2))

False

#### 14. Create a set from a list.

In [50]:
l=[1,2,3,4]
s=set(l)
print(s)

{1, 2, 3, 4}

#### 15. Convert a set to a list.

In [51]:
s={12,34,5,6}
l=list(s)
print(l)

[34, 12, 5, 6]

#### 16. Remove a random element from a set.

In [65]:
f=False
s={12,3,6,7,8,90}
ele=int(input("enter element to remove"))
s.discard(ele)
print(s)

enter element to remove0
{3, 6, 7, 8, 90, 12}

#### 17. Pop an element from a set.

In [68]:
s={12,3,4,5,21}
(s.pop())
print(s)

{4, 5, 21, 12}

#### 18. Check if two sets have no elements in common.

In [79]:
s1={12,3,4,5}
s2={1,2,51,6,5,12,3,4}
if(s1.intersection(s2)!=set()):
    print("common element exist")
else:
    print("common element does not exist")

common element exist

#### 19. Find the symmetric difference between two sets.

In [81]:
s1={1,2,3,4}
s2={5,6,2,1}
print(s1.symmetric_difference(s2))

{3, 4, 5, 6}

#### 20. Update a set with elements from another set.

In [87]:
s1={1,2,3,4}
s2={12,3,4}
s1.update(s2)
print(s1)

{1, 2, 3, 4, 12}

#### 21. Create a set of the first 5 prime numbers.

In [88]:
def prime(x, y):
    prime_list = []
    for i in range(x, y):
        if i == 0 or i == 1:
            continue
        else:
            for j in range(2, int(i/2)+1):
                if i % j == 0:
                    break
            else:
                prime_list.append(i)
    return prime_list

In [90]:
set(prime(1,6))

{2, 3, 5}

#### 22. Check if two sets are identical.

In [92]:
s1={1,2,3,4}
s2={1,2,3,4}
if(s1==s2):
    print("sets are identical")
else:
    print("sets are differnt")

sets are identical

#### 23. Create a frozen set.

In [97]:
s=frozenset((1,2,3))
print(s)

frozenset({1, 2, 3})

#### 24. Check if a set is disjoint with another set

In [100]:
s1={1,2,3,4}
s2={21,43,5,6}
print(s1.isdisjoint(s2))

True

#### 25. Create a set of squares of numbers from 1 to 5.

In [102]:
{i**2 for i in range(1,6)}

{1, 4, 9, 16, 25}

#### 26. Filter out all even numbers from a set.

In [103]:
{i for i in range(1,10) if i%2==0}

{2, 4, 6, 8}

#### 27. Multiply all elements in a set by 2.

In [107]:
s={2,3,1}
set(map(lambda x:x*2,s))

{2, 4, 6}

#### 28. Create a set of random numbers.

In [115]:
import random
s=set()
for i in range(1,11):
    s.add(random.randint(1,100))
print(s)

{100, 37, 12, 80, 18, 55, 56, 88, 61, 30}

#### 29. Check if a set is empty.

In [118]:
s=set()
s.add(3)
if(len(s)==0):
    print("set is empty")
else:
    print("set is not empty")

set is not empty

#### 30. Create a nested set (hint: use frozenset).

In [124]:
s=set()

#### 31. Remove an element from a set using the discard method.

In [125]:
s={12,3,4,5}
s.discard(12)
print(s)

{4, 3, 5}

#### 32. Compare two sets.

In [128]:
s1={1,2,3,4}
s2={1,2,3,4,67}
if(s1==s2):
    print("sets are identical")
elif(s1>s2):
    print("s1 is grator")
else:
    print("s2 is greator")

s2 is greator

#### 33. Create a set from a string.

In [131]:
s="pwskills data science"
set(s.split(" "))

{'data', 'pwskills', 'science'}

#### 34. Convert a set of strings to a set of integers.

In [132]:
s={"1",'2','3','5'}
s1=set()
for i in s:
    ele=int(i)
    s1.add(ele)
print(s1)

{1, 2, 3, 5}

#### 35. Convert a set of integers to a set of strings.

In [134]:
s={1, 2, 3, 5}
s1=set()
for i in s:
    ele=str(i)
    s1.add(ele)
print(s1)

{'5', '2', '1', '3'}

#### 36. Create a set from a tuple.

In [135]:
t=(1,2,3,4,5,6,4,3)
s=set(t)
print(s)

{1, 2, 3, 4, 5, 6}

#### 37. Convert a set to a tuple.

In [136]:
s1={1,2,3,4,5,7,5}
t=tuple(s1)
print(t)

(1, 2, 3, 4, 5, 7)

#### 38. Find the maximum value in a set.

In [137]:
s1={12,3,4,56,78}
print(max(s1))

78

#### 39. Find the minimum value in a set.

In [138]:
s1={12,3,4,56,78}
print(min(s1))

3

#### 40. Create a set from user input.

In [139]:
s=set()
for i in range(1,6):
    ele=int(input("enter element"))
    s.add(ele)
print(s)

enter element23
enter element4
enter element2
enter element3
enter element2
{2, 3, 4, 23}

#### 41. Check if the intersection of two sets is empty

In [142]:
s1={1,2,3,4}
s2={12,43,40,18}
if(s1.intersection(s2)==set()):
    print("intersection of two sets is empty")
else:
    print("intersection is not empty")

intersection of two sets is empty

#### 42. Create a set of the first 5 Fibonacci numbers.

In [144]:
def printFibonacciNumbers(n):

    f1 = 0
    f2 = 1
    if (n < 1):
        return
    print(f1, end=" ")
    for x in range(1, n):
        print(f2, end=" ")
        next = f1 + f2
        f1 = f2
        f2 = next


# Driven code
printFibonacciNumbers(5)

0 1 1 2 3

#### 43. Remove duplicates from a list using sets.

In [145]:
l=[12,34,5,6,7,56,5,6,7]
s=set(l)
print(s)

{34, 5, 6, 7, 12, 56}

#### 44. Check if two sets have the same elements, regardless of their count

In [147]:
s1={1,2,3,4}
s2={1,2,3,4,4}
if(s1==s2):
    print("sets are similar")
else:
    print("sets are differnt")

sets are similar

#### 45. Create a set of the first `n` powers of 2.

In [148]:
{pow(2,i) for i in range(1,6)}

{2, 4, 8, 16, 32}

#### 46. Find the common elements between a set and a list.

In [151]:
s={1,2,3,4,3}
l=[5,6,7,8,4,1,2]
for i in l:
    if(i in s):
        print(i)

4
1
2

#### 47. Create a set of the first `n` triangular numbers.

In [152]:
def traingle(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]
n = 5
traingles = traingle(n)
print("tuple of the first", n, "triangular numbers:", set(traingles))

tuple of the first 5 triangular numbers: {1, 3, 6, 10, 15}

#### 48. Check if a set contains another set as a subset.

In [154]:
s1={1,2,3,4,0}
s2={1,1,3,4,2,5,6}
if(s1.issubset(s2)==True):
    print("s1 is subset of s2")
else:
    print("s1 is not subset of s2")

s1 is not subset of s2

#### 49. Create a set of alternating 1s and 0s of length `n`.

In [160]:
s=list()
for i in range(1,11):
    if(i%2==0):
        s.append(0)
    else:
        s.append(1)
print(set(s))

{0, 1}

#### 50. Merge multiple sets into one.

In [169]:
s1={1,2,3,4,5}
s2={1,2,3,4,6}
s3={1,2,3,4,6}
l1=list(s1)
l2=list(s2)
l3=list(s3)
print(set(l1+l2+l3))

{1, 2, 3, 4, 5, 6}